<div class="text-center">
  <h2>{{name}}</h2>
  <p> {{body}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
</div>

 {{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea class="ml-5" name="comment-body"></textarea>
  </div>

  <div>
    <button class="button is-warning ml-5 mb-5" type="submit">add comment</button>
  </div>
  
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/js/comment.js"></script>
{{/if}}